@charset "UTF-8";
.side-bar-image {
  background-image: url(/assets/2354873.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.login-title {
  color: #402666;
  font-size: 30px;
  font-weight: 500;
}
.form-cont {
  height: 100vh;
}

.btn {
  background: #402666;
}
nav .nav-wrapper {
  background: #fff;
}
.brand-logo img {
  width: 180px;
}
.sidenav {
  background: #402666;
}

.sidenav li a,
.sidenav li > a > i {
  color: #fff;
}

.sidenav li > a:hover {
  background-color: rgba(255, 254, 254, 1);
  color: #402666;
}
.top-bar-image {
  background-image: url(/assets/topimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 30px;
}

.prof-avatar {
  width: 150px !important;
  position: absolute !important;
  top: 190px !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}
.card-content{
  margin-top: 80px;
}

p.prof-name {
  font-size: 2em;
  font-weight: 600;
  color: #402666;
}
p.prof-phone{
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  color: #402666;
}

.prof-title{
  font-weight: 600;
  color:#402666;
}