<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="/materialize/css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
	<nav>
		<div class="nav-wrapper">
		  <a href="#" class="brand-logo">
			  <img src="/assets/Group 5218.svg" alt="Logo">
		  </a>
		  <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="sass.html">Sass</a></li>
			<li><a href="badges.html">Components</a></li>
			<li><a href="collapsible.html">JavaScript</a></li>
		  </ul>
		</div>
	  </nav>
	  <ul id="slide-out" class="sidenav">
		<li><div class="user-view">
		  <div class="background">
			<img src="/assets/Group 5220.svg">
		  </div>
		  <a href="#user"><img class="circle" src="/assets/avatar.png"></a>
		  <a href="#name"><span class="white-text name" th:text="${user.name}">Foo bar</span></a>
		  <a href="#email"><span class="white-text email" th:text="${user.email}">foo@bar.com</span></a>
		</div></li>
		<li><a href="/Users">Users</a></li>
	  </ul>
	  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	<script src="/assets/jquery-3.4.1.js"></script>
    <script
      type="text/javascript"
      src="/materialize/js/materialize.min.js"
    ></script>
    <script type="text/javascript" src="/script/index.js"></script>
  </body>
</html>
