<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="/materialize/css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="row">
      <div class="col s6 form-cont valign-wrapper">
        <div class="container">
		
          <div class="col s12">
            <img src="/assets/Group 5218.svg" alt="Logo" />
          </div>
          <div class="col s12">
            <p class="login-title">Please Login</p>
          </div>
          <div class="col s12">
            <p th:text="${message}"></p>
          </div>
          <form class="col s12 "  method="POST" id="login-form" th:action="@{/login}" th:object="${user}">
            <div class="input-field col s12">
              <input
                placeholder="Enter your email address"
                id="email"
                type="email"
				class="validate"
				th:field="*{email}"
              />
              <label for="email">Email</label>
              <span class="helper-text" data-error="wrong" data-success="right"
                >Forgot Email?</span
              >
            </div>

            <div class="input-field col s12">
              <input
                id="password"
                type="password"
                placeholder="Enter your password"
				class="validate"
				th:field="*{name}"
              />
              <label for="password">Password</label>
              <span class="helper-text" data-error="wrong" data-success="right"
                >Forgot Password?</span
              >
            </div>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light" name="action" type="submit" >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col s6 side-bar-image"></div>
	</div>
	<script src="/assets/jquery-3.4.1.js"></script>
    <script
      type="text/javascript"
      src="/materialize/js/materialize.min.js"
    ></script>
    <script type="text/javascript" src="/script/login.js"></script>
  </body>
</html>
