<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Profile</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="/css/index.css" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="row">
		<div class="col s4">
			<div class="card">
				<div class="card-image">
					<img src="/assets/rect.svg">
					<img class="prof-avatar" src="/assets/bigprof.png">
				</div>
				<div class="card-content">
					<p class="prof-name" th:text="${User.name}"></p>
					<p class="prof-phone" th:text="${User.phoneNumber}"></p>
				</div>
			</div>
		</div>
		<div class="col s8">
			<div class="card">
				<div class="card-content">
					<span class="card-title">User Details</span>
					<div class="row">
						<div class="col s6"><span class="prof-title">Name</span></div>
						<div class="col s6"><p th:text="${User.name}"></p></div>
					</div>
					<div class="row">
						<div class="col s6"><span class="prof-title">Email</span></div>
						<div class="col s6"><p th:text="${User.email}"></p></div>
					</div>
					<div class="row">
						<div class="col s6"><span class="prof-title">Phone</span></div>
						<div class="col s6"><p th:text="${User.phoneNumber}"></p></div>
					</div>
					<div class="row">
						<div class="col s6"><span class="prof-title">Department</span></div>
						<div class="col s6"><p th:text="${User.department}"></p></div>
					</div>
					<div class="row">
						<div class="col s6"><span class="prof-title">Date created</span></div>
						<div class="col s6"><p th:text="${User.createdOn}"></p></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	</div>
	<script src="/assets/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/script/login.js"></script>
</body>

</html>