<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>List Users</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="/css/index.css" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="container">
		<h3>Users List</h3>
		<table class="highlight">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Department</th>
					<th>Created on</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="User : ${usersList}">
					<td ><a th:text="${User.name}" th:href="@{'/UserProfile/'+${User.id}}"></a></td>
					<td th:text="${User.email}"></td>
					<td th:text="${User.phoneNumber}"></td>
					<td th:text="${User.department}"></td>
					<td th:text="${User.createdOn}"></td>
					<td>
						<div class="row">
							<a class="btn-floating btn-small green darken-4" href="#"><i class="material-icons">add</i></a>
							<a class="btn-floating btn-small  blue darken-4" href="#"><i class="material-icons">edit</i></a>
							<a class="btn-floating btn-small red darken-4" href="#"><i class="material-icons">delete</i></a>
						</div>
					</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<script src="/assets/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/script/login.js"></script>
</body>

</html>